@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$button-color: rgb(120, 120, 236);
$button-color-hover: rgb(202, 86, 109);
body {
    font-family: Roboto;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    background-color: khaki;
    width: 60%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.NavBar {
    button {
        margin: 10px;
        padding: 12px;

        font-size: 16px;
        font-weight: 800;

        background-color: $button-color;
        border-radius: 7.5px;
        border: $button-color;
        color: white;
    }

    button:hover {
        background-color: $button-color-hover;
    }
}
.CreateUser {
    h1 {
        text-align: center;
    }
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(252, 197, 197);

    label {
        display: inline-block;
        background-color: aqua;
        width: 70px;
        margin-right: 10px;
    }

    input {
        display: inline;
    }
}