body {
    min-width: 500px
}

.App {
    min-width: 500px;
    height: 98vh;
    background-color: beige;
    margin-left: 30%;
    margin-right: 30%;
}

.NavBar {
    position: absolute;
    margin-top: 100px;
}

.UserList {    
    position: absolute;
    margin-top: 150px;

    background-color: burlywood;
}

.CreateUser {
    position: absolute;
    margin-top: 150px;

    background-color: rgb(239, 141, 14);
}